.feature-box {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    background-repeat: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin: 0.5rem;
        display: inline-block;
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from($color-primary-light),
            to($color-primary)
        );
        background-image: linear-gradient(
            to right,
            $color-primary-light,
            $color-primary
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__text {
    }
}
